*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

    
}

.users-container{
    display: flex;
    flex-wrap: wrap;

    
}


form{
    padding: 22px;
    margin: 22px;
    
    
    width: 300px;
    height: 400px;
    background-color: rgb(240, 137, 11);
    border-radius: 10px;
    
}

.user-card{
    
    background-color: aqua;
    padding: 20px;
    margin: 50px;


}

input{
    
   
    height: 35px;
    margin: 20px;
    border-radius: 10px;

}